{% extends 'base.html.twig' %}

{% block title %}Imported Inventario{% endblock %}

{% block body %}
    <h1>Imported Inventario</h1>
{{ include('_parts/_flash_message.html.twig') }}


{% endblock %}
