{% extends 'base.html.twig' %}

{% block title %}Inventario{% endblock %}

{% block body %}
    <h1>Inventario</h1>
{{ include('_parts/_flash_message.html.twig') }}
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {{ app.session.get('filter') == 'all' ? ' active ' : '' }}">
            <a class="nav-link" href="{{ url('inventory_list', {'filter':'all', 'filterlote' : 0 })}}">Todos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {{ app.session.get('filter') == 'sold' ? ' active ' : '' }}">
            <a class="nav-link" href="{{ url('inventory_list', {'filter':'sold', 'filterlote' : 0 })}}">Vendidos</a>
          </li>
          <li class="nav-item {{ app.session.get('filter') == 'nosold' ? ' active ' : '' }}">
            <a class="nav-link" href="{{ url('inventory_list', {'filter':'nosold', 'filterlote' : 0 })}}">Sin vender</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Por Lote
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for lotesAcces in inventory %}
              <a class="dropdown-item" href="{{ url('inventory_list', {'filter':app.session.get('filter'), 'filterlote' : lotesAcces.id } ) }}">{{ lotesAcces.ref }}</a>
              {% endfor %}

            </div>
        </li>
        </ul>
      </div>
    </nav>

  </div>
    <div class="row">
      <p class="pl-4">
        {% if app.session.get('filter') != 'all' or app.session.get('filterlote') != '0' %}
        Filtrado por:
        {% endif %}
        {% if app.session.get('filter') != 'all' %}
          <b class="text-primary">{{ app.session.get('filter') == 'sold' ? ' Items vendidos ' : 'Items NO vendidos' }}</b>
        {% endif %}
        {% if app.session.get('filter') != 'all' and app.session.get('filterlote') != '0' %}
         +
        {% endif %}
        {% if app.session.get('filterlote') != '0' %}
          <b class="text-primary">{{ inventory[0].ref }}</b>
        {% endif %}
      </p>
  </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>Sold</th>
                <th>CodeDgs</th>
                <th>Lote</th>
                <th>Nombre</th>
                <th>nº. Catálogo</th>
                <th>Año</th>
                <th>Precio reco.</th>
                <th>Precio venta</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for lote in inventory %}
            {% for item in lote.getItems() %}
            <tr>
                <td>{{ item.id }}</td>
                <td class="text-center">
                    {% if item.peopleWantIt == 1 %}
                    <i class="fas fa-trophy text-warning"></i>
                    {% else %}
                    <i class="fas fa-trophy text-gray-200"></i>
                    {% endif %}

                </td>
                <td  class="text-center">
                  <a href="{{ url('item_change_sold', {'id': item.id, 'place':'inventory' })}}">
                    <i class="fas  {{ item.Sold == 0 ? 'fa-times text-gray-400' :  'fa-check text-success'}}"></i>
                  </a>
              </td>
                <td>
                  {% if item.urlDiscoGs %}
                  <a href="{{ item.urlDiscoGs }}" target="_blank" title="Ver ficha en DiscoGs">
                    {{ item.codeDgs }}
                  </a>
                  {% else %}
                  {{ item.codeDgs }}
                  {% endif %}

              </td>
                <td><a href="{{ url('lote_show', {'id': item.getLote().getId() }) }}">{{ item.getLote().getRef() }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.catalogCode }}</td>
                <td>{{ item.year }}</td>
                <td>{{ item.recommendPriceDgs|number_format(2, ',', '.') }}</td>
                <td>
                  {% set placePriceSale = 'inventory' %}
                  {{ include('_parts/_form_price_sale.html.twig') }}
                </td>

                <td></td>
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
    </table>


{% endblock %}
