{{ form_start(form) }}
<div class="card-body">
  <div class="form-row">
    <div class="col-lg-2">
     {{ form_label(form.name) }}
     {{ form_widget(form.name) }}
    </div>

    {{ form_widget(form) }}
    </div>
    </div>
    <button class="btn btn-success btn-icon-split float-right">
    <span class="icon text-white-50">
      <i class="fas fa-check"></i>
    </span>
    <span class="text">{{ button_label|default('Guardar') }}
    </span></button>
{{ form_end(form) }}
