{% extends 'base.html.twig' %}

{% block title %}Origin index{% endblock %}

{% block body %}
    <h1>Origin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for origin in origins %}
            <tr>
                <td>{{ origin.id }}</td>
                <td>{{ origin.name }}</td>
                <td>
                    <a href="{{ path('origin_show', {'id': origin.id}) }}"
                            class="btn btn-primary btn-icon-split">
                                  <span class="icon text-white-50">
                                    <i class="far fa-eye"></i>
                                  </span>
                                  <span class="text">Ver</span></a>
                    <a href="{{ path('origin_edit', {'id': origin.id}) }}"
                            class="btn btn-success btn-icon-split">
                                  <span class="icon text-white-50">
                                    <i class="fas fa-pencil-alt"></i>
                                  </span>
                                  <span class="text">Editar</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('origin_new') }}"
    class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Añadir Origen Lote</span></a>
{% endblock %}
