{% extends 'base.html.twig' %}

{% block title %}Crear nuevo Origen de lote{% endblock %}

{% block body %}
    <h1>Crear nuevo Origen de lote</h1>

    {{ include('origin/_form.html.twig') }}

    <a href="{{ path('origin_index') }}" class="btn btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Ir al listado</span></a>
{% endblock %}
