{% extends 'base.html.twig' %}

{% block title %}Origin{% endblock %}

{% block body %}
    <h1>Origin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ origin.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ origin.name }}</td>
            </tr>
        </tbody>
    </table>
<div class="mb-3">
    <a href="{{ path('origin_index') }}"
      class="btn btn-secondary btn-icon-split">
      <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Ir al listado</span></a>

    <a href="{{ path('origin_edit', {'id': origin.id}) }}"

            class="btn btn-success btn-icon-split mr-3 float-right">  <span class="icon text-white-50">
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                  <span class="text">Editar Usuario</span></a>

    {{ include('origin/_delete_form.html.twig') }}
  </div>
{% endblock %}
