{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block sidebar %}{% endblock %}
{% block topnav %}{% endblock %}

{% block body %}
  {% for flash_message in app.session.flashbag.get('notice') %}
      <div class="flash-notice">
          {{ flash_message }}
      </div>
  {% endfor %}
  <div class="container">
    <div class="row justify-content-center">
  <div class="col-xl-4 col-lg-6 col-md-9  card shadow mb-4 mt-5 p-0">
  <form method="post">
      {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
          <div class="mb-3">
              You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
          </div>
      {% endif %}
      <div class="card-header ">
        <h1 class="h3 mb-3 font-weight-normal"><img src="{{ asset('assets/img/logo.png')}}" alt="logo" class="mr-4"/> Control Discos</h1>
      </div>
      <div class="card-body ">
      <input type="email" value="{{ last_username }}" name="email" placeholder="Email" id="inputEmail" class="form-control" required autofocus>

      <input type="password" name="password" id="inputPassword"  placeholder="Password" class="form-control mt-4 " required>

      <input type="hidden" name="_csrf_token"
             value="{{ csrf_token('authenticate') }}"
      >

      {#
          Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
          See https://symfony.com/doc/current/security/remember_me.html

          <div class="checkbox mb-3">
              <label>
                  <input type="checkbox" name="_remember_me"> Remember me
              </label>
          </div>
      #}
      <div class="row justify-content-center">
        <button class="btn btn-lg btn-primary mt-4" type="submit">
            Login
        </button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
