{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}


<div class="row mb-4">
  <div class="card   shadow h-100 py-2">

    <div class="card-header py-3  d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Balance...</h6>
    </div>
    <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td>Costes</td><td class="text-right text-danger">
            <b>{{ totalCostsLotes|number_format(2, ',', '.') }} €</b>
          </td>
        </tr>
        <tr>
          <td>Ventas</td><td class="text-right text-success">
            <b>{{ totalSale|number_format(2, ',', '.') }} €</b>
          </td>
        </tr>
        <tr>
          <td>Comisión de DiscoGs <b>-{{ comision_discogs }} %</b> </td><td class="text-right">
                <b class="text-{{ comisonApply > 0 ?'success' : 'danger'}}">{{ comisonApply|number_format(2, ',', '.') }} €</b>
          </td>
        </tr>
        <tr  class="bg-gray-200 ">
          <td>Balance</td><td class="text-right">
            <b class=" text-{{ comisonApply - totalCostsLotes > 0 ?'success' : 'danger'}}">
              {{ (comisonApply - totalCostsLotes)|number_format(2, ',', '.') }} €
            </b>
          </td>
        </tr>

      </tbody>
    </table>
    </div>
  </div>

    <div class="card shadow h-100 py-2 ml-5">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"><h6 class="m-0 font-weight-bold text-primary">Datos Inventario</h6></div>
    <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td>Nº de Artículos</td><td class="text-right"><b>{{ totalDatas[0]['totalItems']|number_format(0, ',', '.') }} u.</b></td>
        </tr>
        <tr>
          <td>Valor total</td><td  class="text-right"><b>{{ totalDatas[0]['sumaPrecios']|number_format(2, ',', '.') }} €</b></td>
        </tr>
        <tr>
          <td>Precio medio u.</td><td  class="text-right"><b>{{ totalDatas[0]['mediaPrecioUnidad']|number_format(2, ',', '.') }} €</b></td>
        </tr>

      </tbody>
    </table>
    </div>
  </div>
</div>


{% endblock %}
