<div class="boxPrice boxPriceSale-{{ item.id }}"  style="display: block;"
      data-iditem="{{ item.id }}">{{ item.priceSale|number_format(2, ',', '.') }}
  <span class="viewFormPrice" ><i class="fas fa-edit text-gray-300 ml-2"></i></a>
</div>
<div class="formsprice formPriceSale-{{ item.id }}" style="display: none;">
    <form action="{{ url('item_change_pricesale') }}" method="POST" >
      <input type="text" class="changePriceSale" name="priceSale"
            value="{{ item.priceSale|number_format(2, ',', '.') }}" />
      <input type="hidden" value="{{ item.id }}" name="idItem" />
      <input type="hidden" value="{{ placePriceSale }}" name="place" />
    </form>
    <div class="closePrice"  data-closeprice="{{ item.id }}">
      <i class="fas fa-times text-gray-300 ml-2"></i>
    </div>
</div>
