<footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Control Discos</span>
          </div>
        </div>
</footer>
