<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion bg-gradient-primary-es" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url('home') }}">
        <div class="sidebar-brand-icon">
          <img src="{{ asset('assets/img/logo.png')}}" alt="logo" />
        </div>
        <div class="sidebar-brand-text mx-2">Control Discos</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{{ url('home') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Control Proyectos
      </div>

      <li class="nav-item">
        <a class="nav-link" href="{{url('lote_index', {'filterlotestatus': 'all', 'filterloteinteres' : 'all',
                                                       'sortcolumn': 'id', 'sortdirection' : 'DESC'}) }}">
          <i class="fas fa-boxes"></i>
          <span>Lotes</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{url('inventory_list', {'filter': 'all', 'filterlote': 0}) }}">
          <i class="fas fa-compact-disc"></i>
          <span>Inventario</span>
        </a>
      </li>





     {% if is_granted('ROLE_SUPER_ADMIN')  %}

      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Administración
      </div>

      <li class="nav-item">
           <a class="nav-link" href="{{ url('origin_index') }}">
          <i class="fas fa-map-marker-alt"></i>
          <span>Origen Lotes</span>
        </a>

      </li>


      <li class="nav-item">
            <a class="nav-link" href="{{ url('imported_inventory')}}">
          <i class="fas fa-cloud-upload-alt"></i>
          <span>Importar datos </span>
        </a>

      </li>

      <li class="nav-item">
           <a class="nav-link" href="{{ url('user_index') }}">
          <i class="fas fa-users"></i>
          <span>Listado usuarios</span>
        </a>

      </li>

   {% endif %}

      <hr class="sidebar-divider">



      <li class="nav-item">
        <a class="nav-link" href="{{ url('app_logout') }}">
          <i class="fas fa-sign-out-alt"></i>
          <span>Desconectar</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>


    <!-- End of Sidebar -->
