<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <ul class="navbar-nav ml-auto">
    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.email }}</span>
        <div class="img-profile rounded-circle bg-light border border-{{ app.user.roles[0] }}" >
        <i class="fas fa-user text-{{ app.user.roles[0] }} pt-2 pl-2"></i>
      </div>
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">
        <a  class="dropdown-item float-right" > <i class="fas fa-user ext-gray-400 mr-2"></i>
        {{ app.user.roles[0] }}</a>
        <a class="dropdown-item" href="{{ url('app_logout') }}" >
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Desconectar
        </a>
      </div>
    </li>

  </ul>

</nav>
