{% if item is defined %}
    {% set nComp = item.numForSale %}
{% elseif lote.competency is defined %}
    {% set nComp = lote.competency %}
{% endif %}

 {% if nComp < 5  %}
     <i class="fas fa-compact-disc text-success"></i>
     <i class="fas fa-compact-disc text-gray-400"></i>
     <i class="fas fa-compact-disc text-gray-400"></i>
     {% elseif nComp <= 10 %}
     <i class="fas fa-compact-disc text-success"></i>
     <i class="fas fa-compact-disc text-success"></i>
     <i class="fas fa-compact-disc text-gray-400"></i>
     {% else %}
     <i class="fas fa-compact-disc text-success"></i>
     <i class="fas fa-compact-disc text-success"></i>
     <i class="fas fa-compact-disc text-success"></i>
  {% endif %}
