<form method="post" action="{{ path('lote_delete', {'id': lote.id}) }}"

    class="float-left mr-5"
    onsubmit="return confirm('Estas seguro de querer eliminarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lote.id) }}">

        <button class="btn btn-danger btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-trash"></i>
          </span>  <span class="text">Eliminar</span></button>
</form>
