<div class="col-xl-3 col-md-6 mb-4" >
    <div class="card border-left-secondary shadow h-100 py-2">
      <div class="card-body">
      {{ form_start(formLoteOption, {'action': path('lote_new_lote_option'), 'method': 'POST'}) }}
          <div class="form-row">
              <div class="col">
               {{ form_label(formLoteOption.margin) }}
               {{ form_widget(formLoteOption.margin) }}
             </div>

             <div class="col d-none">
              {{ form_label(formLoteOption.lote) }}
              {{ form_widget(formLoteOption.lote) }}
            </div>

            <div class="col pt-4">
              <button class="btn btn-secondary btn-icon-split float-right mb-2">
              <span class="icon text-white-50">
              <i class="fas fa-check"></i>
              </span>
              <span class="text">{{ button_label|default('Crear Opción') }}</span></button>
          </div>
        </div>
      </div>
      {{ form_widget(formLoteOption) }}
      {{ form_end(formLoteOption) }}
    </div>
</div>
