
<div class="row addItemBox mb-3" id="addItemBox" >
<div class="card shadow col-12">
  <a class="d-block card-header py-3 collapsed" href="#collapseCardItems"
      aria-controls="collapseCardItems" role="button" data-toggle="collapse">
    <h6 class="m-0 font-weight-bold text-primary">
      Añadir nuevos items...
    </h6>
  </a>
  <div class="collapse" id="collapseCardItems">
      <div class="card-body">
        {{ form_start(formItem, {'action': path('lote_new_item'), 'method': 'POST'}) }}
            <div class="form-row">
                <div class="col">
                 {{ form_label(formItem.codeDgs) }}
                 {{ form_widget(formItem.codeDgs) }}
               </div>

               <div class="col">
                {{ form_label(formItem.catalogCode) }}
                {{ form_widget(formItem.catalogCode) }}
              </div>

              <div class="col">
               {{ form_label(formItem.mediaStatus) }}
               {{ form_widget(formItem.mediaStatus) }}
             </div>

             <div class="col">
              {{ form_label(formItem.caseStatus) }}
              {{ form_widget(formItem.caseStatus) }}
            </div>
        </div>
        <div class="form-row mt-2">
          <div class="col">
           {{ form_label(formItem.name) }}
           {{ form_widget(formItem.name) }}
         </div>
        </div>
        </div>
        <div class="card-footer">
        <button class="btn btn-success btn-icon-split float-right mb-2">
      <span class="icon text-white-50">
        <i class="fas fa-check"></i>
      </span>
      <span class="text">{{ button_label|default('Añadir Item') }}</span></button>
        {{ form_widget(formItem) }}
        {{ form_end(formItem) }}
      </div>
  </div>
</div>
</div>
