{{ form_start(form) }}



    <div class="card-body">
        <div class="form-row">
          <div class="col">
           {{ form_label(form.ref) }}
           {{ form_widget(form.ref) }}
         </div>

         <div class="col">
          {{ form_label(form.origin) }}
          {{ form_widget(form.origin) }}
        </div>

        <div class="col">
         {{ form_label(form.price) }}
         {{ form_widget(form.price) }}
       </div>

      <div class="col">
       {{ form_label(form.dateAuctionClosing) }}
       {{ form_widget(form.dateAuctionClosing) }}
      </div>

       <div class="col d-none">
        {{ form_label(form.dateCreate) }}
        {{ form_widget(form.dateCreate) }}
      </div>

     <div class="col d-none">
      {{ form_label(form.user) }}
      {{ form_widget(form.user) }}

      {{ form_label(form.priceByItemSuggest) }}
      {{ form_widget(form.priceByItemSuggest) }}

      {{ form_label(form.priceByLoteSuggest) }}
      {{ form_widget(form.priceByLoteSuggest) }}
    </div>
  </div>
<div class="form-row mt-3">
  <div class="col">
   {{ form_label(form.urlLote) }}
   {{ form_widget(form.urlLote) }}
  </div>
</div>


    {{ form_widget(form) }}


</div>
    <button class="btn btn-success btn-icon-split float-right">
  <span class="icon text-white-50">
    <i class="fas fa-check"></i>
  </span>
  <span class="text">{{ button_label|default('Guardar') }}</span></button>
{{ form_end(form) }}
