  {% if lote.getLoteOptions()|length > 0 %}
<div class="row ">
{% for option in lote.getLoteOptions() %}
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-{{ option.getPriceByLote() >= lote.priceByLoteSuggest ? 'danger' : 'success' }} shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
          <div class="col mr-2">
              <div class="text-xs font-weight-bold text-{{ option.getPriceByLote() >= lote.priceByLoteSuggest ? 'danger' : 'success' }} text-uppercase mb-1">
                Para ganar el  <b>{{ option.getMargin() }} % </b></div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ option.getPriceByLote() }} € <small>Precio venta del lote.</small> </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ option.getPriceByItem() }} € <small>Por venta item. </small> </div>
              <div class="p mb-0 font-weight-normal text-gray-500 float-right"><small>{{ option.getDateCreate()|date('d-m-Y') }} </small> </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endif %}
<div class="row">
  <div class="col-12 float-right mb-2">

    <a href="{{ url('update_options', {'id': lote.id }) }}"
      class="btn btn-success btn-icon-split float-right">
      <span class="icon text-white-50">
        <i class="fas fa-sync-alt"></i>
      </span>  <span class="text">Actualizar Opciones</span></a>
      
  {% if lote.getLoteOptions()|length > 0 %}
  <a href="{{ url('delete_options', {'id': lote.id }) }}"
    class="btn btn-danger btn-icon-split float-right mr-4">
    <span class="icon text-white-50">
      <i class="fas fa-trash"></i>
    </span>  <span class="text">Limpiar Opciones</span></a>
{% endif %}

  </div>
</div>
