<div class="card shadow">
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
      <div class="row">
        <div class="col-12">
         <a href="{{ url('update_items_by_idlote', {'idlote': lote.Id }) }}"
          class="btn btn-success btn-icon-split float-right">
          <span class="icon text-white-50">
            <i class="fas fa-sync-alt"></i>
          </span>  <span class="text">Actualizar todos los Items de este lote</span></a>
        </div>
      </div>
        <div class="row " >
          <div class="col-sm-12 " >


              <table class="table table-bordered dataTable"
                      id="dataTable" role="grid" with="100%" cellspacing="0" aria-describedby="dataTable_info">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0"
                        aria-controls="dataTable" rowspan="1"
                        colspan="1" aria-lable="Code Dgs: activate to sort column descending" aria-sort="descending">
                          Code Dgs
                      </th>
                      <th class="sorting_asc" tabindex="0"
                          aria-controls="dataTable" rowspan="1"
                          colspan="1" aria-lable="Año: activate to sort column descending" aria-sort="descending">
                            Año
                        </th>

                        <th class="sorting_asc" tabindex="0"
                            aria-controls="dataTable" rowspan="1"
                            colspan="1" aria-lable="Sold: activate to sort column descending" aria-sort="descending">
                              Sold
                          </th>
                  <th class="sorting_asc" tabindex="0"
                      aria-controls="dataTable" rowspan="1"
                      colspan="1" aria-lable="Sold: activate to sort column descending" aria-sort="descending">
                        Price Venta
                    </th>
                    <th class="sorting" tabindex="0"
                        aria-controls="dataTable" rowspan="1"
                        colspan="1" aria-lable="Media Status: activate to sort column descending">
                          Media Status
                    </th>
                    <th class="sorting" tabindex="0"
                            aria-controls="dataTable" rowspan="1"
                            colspan="1" aria-lable="Nombre: activate to sort column descending">
                              Nombre
                    </th>
                    <th class="sorting" tabindex="0"
                            aria-controls="dataTable" rowspan="1"
                            colspan="1" aria-lable="Precio Recomen.: activate to sort column descending">
                              Precio Recomen.
                    </th>
                    <th class="sorting" tabindex="0"
                            aria-controls="dataTable" rowspan="1"
                            colspan="1" aria-lable="Num en venta.: activate to sort column descending">
                              Num en venta.
                    </th>
                    <th> </th>
                  </tr>
                </thead>
                  <tbody>
                    {% for item in lote.getItems() %}
                      <tr role="row" class="{{ loop.index is even ? 'even' : 'odd' }}">
                          <td class="sorting_1">{{ item.codeDgs }}</td>
                          <td >{{ item.year }}</td>
                          <td>
                            <a href="{{ url('item_change_sold', {'id': item.id, 'place':'lote' })}}">
                              <i class="fas  {{ item.Sold == 0 ? 'fa-times text-gray-400' :  'fa-check text-success'}}"></i>
                            </a>
                          </td>
                          <td>
                            {% set placePriceSale = 'lote' %}
                            {{ include('_parts/_form_price_sale.html.twig') }}
                          </td>
                          <td >{{ item.mediaStatus }}</td>
                          <td >
                            {% if item.urlDiscoGs %}
                                <a href="{{ item.urlDiscoGs }}" target="_blank" title="Ver ficha en DiscoGs">
                                {{ item.name|length > 60 ? item.name|slice(0, 30) ~ '...' : item.name   }}
                               </a>
                            {% else %}
                            {{ item.name|length > 60 ? item.name|slice(0, 30) ~ '...' : item.name   }}
                            {% endif %}</td>
                          <td >{{ item.recommendPriceDgs|number_format(2, ',', '.') }} €</td>
                          <td >
                            {% if item.peopleWantIt == 1 %}
                            <i class="fas fa-trophy text-warning"></i>
                            {% else %}
                            <i class="fas fa-trophy text-gray-200"></i>
                            {% endif %}
                            {{ item.numForSale }}
                            {{ include('lote/_competencia.html.twig') }}

                          </td>
                          <td>

                            <a href="{{ url('update_item', {'id': item.id }) }}"
                              class="btn btn-success btn-icon-split float-right btn-sm  ml-3">
                              <span class="icon text-white-25">
                                <i class="fas fa-sync-alt"></i></a>

                            <form method="post" action="{{ path('lote_item_delete', {'id': item.id}) }}"
                                class="float-right mr-2"
                                onsubmit="return confirm('Estas seguro de querer eliminarlo?');" >
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                <input type="hidden" name="idlote" value="{{ lote.id }}">
                                <button class="btn btn-danger btn-icon-split  btn-sm  ">
                                  <span class="icon text-white-25"><i class="fas fa-trash"></i></span>
                                </button>
                            </form>


                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>

              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
