{% extends 'base.html.twig' %}

{% block title %}Edit Lote{% endblock %}

{% block body %}
    <h1>Edit Lote</h1>
    {{ include('_parts/_flash_message.html.twig') }}
    {{ include('lote/_form.html.twig', {'button_label': 'Update'}) }}


<div class="mb-3">
  <a href="{{ path('lote_show', {'id': lote.id}) }}"
          class="btn btn-primary btn-icon-split  ">
        <span class="icon text-white-50"><i class="far fa-eye"></i></span>
        <span class="text">Ver</span>
  </a>

    <a href="{{ path('lote_index') }}"
        class="btn btn-secondary btn-icon-split ">
          <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="text">Ir al listado</span>
        </a>

    {{ include('lote/_delete_form.html.twig') }}
  </div>

{% endblock %}
