{% extends 'base.html.twig' %}

{% block title %}Listado Lotes{% endblock %}

{% block body %}
    <h1>Listado Lotes</h1>
{{ include('_parts/_flash_message.html.twig') }}

<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item {{ app.session.get('filterlotestatus') == 'all' ? ' active ' : '' }}">
          <a class="nav-link"
             href="{{ url('lote_index', {'filterlotestatus':'all', 'filterloteinteres' : app.session.get('filterloteinteres'),
                                           'sortcolumn': app.session.get('sortcolumn'), 'sortdirection' :app.session.get('sortdirection') })}}">
            Todos <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {{ app.session.get('filterlotestatus') == status_lote_estudio ? ' active ' : '' }}">
          <a class="nav-link"
             href="{{ url('lote_index', {'filterlotestatus': status_lote_estudio, 'filterloteinteres' : app.session.get('filterloteinteres'),
                                           'sortcolumn': app.session.get('sortcolumn'), 'sortdirection' :app.session.get('sortdirection') })}}">
            en Estudio</a>
        </li>

        <li class="nav-item {{ app.session.get('filterlotestatus') == status_lote_comprado ? ' active ' : '' }}">
          <a class="nav-link"
             href="{{ url('lote_index', {'filterlotestatus': status_lote_comprado, 'filterloteinteres' : app.session.get('filterloteinteres'),
                                           'sortcolumn': app.session.get('sortcolumn'), 'sortdirection' :app.session.get('sortdirection') })}}">
            Comprados</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grado de interes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"
            href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'), 'filterloteinteres' : 'all',
                                          'sortcolumn': app.session.get('sortcolumn'), 'sortdirection' :app.session.get('sortdirection') } ) }}">
            Todos</a>
            <a class="dropdown-item"
            href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'), 'filterloteinteres' : 'interes',
                                          'sortcolumn': app.session.get('sortcolumn'), 'sortdirection' :app.session.get('sortdirection') } ) }}">
            Más Interesantes</a>
            <a class="dropdown-item"
            href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'), 'filterloteinteres' : 'nointeres',
                                          'sortcolumn': app.session.get('sortcolumn'), 'sortdirection' :app.session.get('sortdirection')} ) }}">
            Menos Interesantes</a>

          </div>
        </li>

      </ul>

    </div>
    <a href="{{ path('lote_new') }}"
              class="btn btn-info btn-icon-split float-right">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Añadir Lote</span></a>
  </nav>

</div>

<div class="row">
  <p class="pl-4">
    {% if app.session.get('filterlotestatus') != 'all' or app.session.get('filterloteinteres') != 'all' %}
    Filtrado por:
    {% endif %}

    {% if app.session.get('filterlotestatus') != 'all' %}
      <b class="text-primary">{{ app.session.get('filterlotestatus') == 'Comprado' ? ' Lotes Comprados ' : 'Lotes NO comprados' }}</b>
    {% endif %}

    {% if app.session.get('filterlotestatus') != 'all' and app.session.get('filterloteinteres') != 'all' %}
     +
    {% endif %}
    {% if app.session.get('filterloteinteres') != 'all' %}
      <b class="text-primary">{{ app.session.get('filterloteinteres') == 'nointeres' ? ' con menos interes ' : ' con más interes ' }}</b>
    {% endif %}
  </p>
</div>


    <table class="table">
        <thead>
            <tr>
                <th>Id
                  <a href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'),
                                                  'filterloteinteres' : app.session.get('filterloteinteres'),
                                                  'sortcolumn' : 'id',
                                                  'sortdirection' : 'ASC'} ) }}">
                    <i class="fas fa-long-arrow-alt-up arrow text-{{ app.session.get('sortcolumn') ==  'id'
                                                                  and app.session.get('sortdirection') ==  'ASC'? 'primary': 'secondary'  }}"></i>
                  </a>
                  <a href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'),
                                                  'filterloteinteres' : app.session.get('filterloteinteres'),
                                                  'sortcolumn' : 'id',
                                                  'sortdirection' : 'DESC'} ) }}">
                  <i class="fas fa-long-arrow-alt-down arrow text-{{ app.session.get('sortcolumn') ==  'id'
                                                                and app.session.get('sortdirection') ==  'DESC'? 'primary': 'secondary'  }}"></i>
                  </a>
                </th>
                <th>Ref</th>
                <th>Estado</th>
                <th>Origin</th>

                <th>Precio venta
                  <a href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'),
                                                  'filterloteinteres' : app.session.get('filterloteinteres'),
                                                  'sortcolumn' : 'price',
                                                  'sortdirection' : 'ASC'} ) }}">
                    <i class="fas fa-long-arrow-alt-up arrow text-{{ app.session.get('sortcolumn') ==  'price'
                                                                  and app.session.get('sortdirection') ==  'ASC'? 'primary': 'secondary'  }}"></i>
                  </a>
                  <a href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'),
                                                  'filterloteinteres' : app.session.get('filterloteinteres'),
                                                  'sortcolumn' : 'price',
                                                  'sortdirection' : 'DESC'} ) }}">
                  <i class="fas fa-long-arrow-alt-down arrow text-{{ app.session.get('sortcolumn') ==  'price'
                                                                and app.session.get('sortdirection') ==  'DESC'? 'primary': 'secondary'  }}"></i>
                  </a>
                </th>

                <th>Precio recomen.
                    <a href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'),
                                                    'filterloteinteres' : app.session.get('filterloteinteres'),
                                                    'sortcolumn' : 'priceByLoteSuggest',
                                                    'sortdirection' : 'ASC'} ) }}">
                      <i class="fas fa-long-arrow-alt-up arrow text-{{ app.session.get('sortcolumn') ==  'priceByLoteSuggest'
                                                                    and app.session.get('sortdirection') ==  'ASC'? 'primary': 'secondary'  }}"></i>
                    </a>
                    <a href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'),
                                                    'filterloteinteres' : app.session.get('filterloteinteres'),
                                                    'sortcolumn' : 'priceByLoteSuggest',
                                                    'sortdirection' : 'DESC'} ) }}">
                    <i class="fas fa-long-arrow-alt-down arrow text-{{ app.session.get('sortcolumn') ==  'priceByLoteSuggest'
                                                                  and app.session.get('sortdirection') ==  'DESC'? 'primary': 'secondary'  }}"></i>
                    </a>
                </th>
                <th>Interes</th>
                <th>Uni.</th>
                <th>Competencia</th>
                <th>Beneficio
                  <a href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'),
                                                  'filterloteinteres' : app.session.get('filterloteinteres'),
                                                  'sortcolumn' : 'profitPerCent',
                                                  'sortdirection' : 'ASC'} ) }}">
                    <i class="fas fa-long-arrow-alt-up arrow text-{{ app.session.get('sortcolumn') ==  'profitPerCent'
                                                                  and app.session.get('sortdirection') ==  'ASC'? 'primary': 'secondary'  }}"></i>
                  </a>
                  <a href="{{ url('lote_index', {'filterlotestatus':app.session.get('filterlotestatus'),
                                                  'filterloteinteres' : app.session.get('filterloteinteres'),
                                                  'sortcolumn' : 'profitPerCent',
                                                  'sortdirection' : 'DESC'} ) }}">
                  <i class="fas fa-long-arrow-alt-down arrow text-{{ app.session.get('sortcolumn') ==  'profitPerCent'
                                                                and app.session.get('sortdirection') ==  'DESC'? 'primary': 'secondary'  }}"></i>
                  </a>
                </th>
                <th>Fin Puja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for lote in lotes %}
        {% set nTriumf = 0 %}
          {% for itemLot in  lote.getItems %}
            {% if itemLot.peopleWantIt == 1 %}
              {% set nTriumf = nTriumf + 1 %}
              {% endif %}
          {% endfor %}
            <tr class="{{ lote.competency < 10 and nTriumf > 0 and lote.status == status_lote_estudio ? 'bg-gray-200' : '' }}
                      {{ lote.status == status_lote_comprado ? 'bg-yellow' : '' }}">
                <td>{{ lote.id }}</td>
                <td>{{ lote.ref }}</td>
                <td>
                  <a href="{{ url('lote_change_status', {'id': lote.id, 'place':'list' }) }}">
                    {{ lote.status == 'Estudio' ? '<i class="fas fa-hourglass-half text-gray-300"></i>' : '<i class="fas fa-boxes text-success"></i>' }}</td>
                  </a>
                <td>
                {% if lote.urlLote|length > 0 %}
                  <a href="{{ lote.urlLote }}" target="_blank" >{{ lote.origin.getName() }}</a>
                {% else %}
                {{ lote.origin.getName() }}
                {% endif %}
                </td>

                <td class="text-{{ lote.priceByLoteSuggest <= lote.price ? 'danger' : 'success'}}">{{ lote.price }} €</td>
                <td>{{ lote.priceByLoteSuggest }} €</td>
                <td>

                  {% if nTriumf > 0 %}
                  <span class="text-success">{{ nTriumf }}</span><i class="fas fa-trophy  text-success"></i>
                  {% else %}
                  <span class="text-gray-200">0</span><i class="fas fa-trophy text-gray-200"></i>
                  {% endif %}
                </td>
                <td>{{ lote.getItems|length }} u.</td>
                <td>
                  <small>{{ lote.competency }} u.</small>
                  {{ include('lote/_competencia.html.twig') }}
                </td>
                <td class="{{ lote.profitPerCent < 0 ? 'text-danger' : '' }}">
                    {{ lote.profitPerCent }} %</td>
                <td>{{ lote.dateAuctionClosing ? lote.dateAuctionClosing|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('lote_show', {'id': lote.id}) }}"
                            class="btn btn-primary btn-icon-split btn-sm ">
                                          <span class="icon text-white-25">
                                            <i class="far fa-eye"></i>
                                          </span></a>
                    <a href="{{ path('lote_edit', {'id': lote.id}) }}"
                            class="btn btn-success btn-icon-split btn-sm ">
                                          <span class="icon text-white-25">
                                            <i class="fas fa-pencil-alt"></i>
                                          </span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lote_new') }}"
              class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Añadir Lote</span></a>
{% endblock %}
