{% extends 'base.html.twig' %}

{% block title %}Crear nuevo Lote{% endblock %}

{% block body %}
    <h1>Crear nuevo Lote</h1>

    {{ include('lote/_form.html.twig') }}

    <a href="{{ path('lote_index') }}"  class="btn btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Ir al listado</span></a>
{% endblock %}
