
{{ form_start(formLoteOption) }}

    <div class="card-body">
        <div class="form-row">
          <div class="col">
           {{ form_label(formLoteOption.margin) }}
           {{ form_widget(formLoteOption.margin) }}
         </div>

    {{ form_widget(formLoteOption) }}

  </div>
</div>
    <button class="btn btn-success btn-icon-split float-right">
  <span class="icon text-white-50">
    <i class="fas fa-check"></i>
  </span>
  <span class="text">{{ button_label|default('Guardar') }}</span></button>
{{ form_end(formLoteOption) }}
