{% extends 'base.html.twig' %}

{% block title %}Lote{% endblock %}

{% block body %}
<h1> Lote: {{ lote.ref }} </h1>
{{ include('_parts/_flash_message.html.twig') }}
<div class="row ">
    <div class="col-6 ml-3 mt-1">
    <p  class="">
      <small>ID: {{ lote.id }} <b>{{ lote.dateCreate ? lote.dateCreate|date('d-m-Y') : '' }}</b></small>
      ·
      {% if lote.urlLote|length > 0 %}
        <a href="{{ lote.urlLote }}" target="_blank" >{{ lote.ref }}</a>
      {% else %}
        {{ lote.ref }}
      {% endif %}
      - {{ lote.origin.name() }}

      <a href="{{ url('lote_change_status', {'id': lote.id, 'place':'edit' }) }}"
          class="btn btn-{{ lote.status == status_lote_estudio ? 'warning' :  'success' }} btn-sm">{{ lote.status }}</a>
    </p>
  </div>
    <div class="col-5 float-right">
      <a href="{{ path('lote_index') }}"
         class="btn btn-secondary btn-icon-split btn-sm
         float-right mr-3 ml-2">
        <span class="icon text-white-25 "> <i class="fas fa-arrow-left"></i> </span>
      </a>

      <a href="{{ path('lote_edit', {'id': lote.id}) }}"
              class="btn btn-success btn-icon-split
              btn btn-primary btn-icon-split btn-sm
              float-right mr-3 ml-2">
              <span class="icon text-white-25"><i class="fas fa-pencil-alt"></i></span>
      </a>

      {{ include('lote/_delete_form_mini.html.twig') }}
    </div>
</div>

<div class="row ">

  {{ include('lote/_form_add_lote_option.html.twig') }}

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-{{ lote.priceByLoteSuggest <= lote.price ? 'danger' : 'success' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-{{ lote.priceByLoteSuggest <= lote.price ? 'danger' : 'success' }} text-uppercase mb-1">
                  Situación del lote</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ lote.price }} €</div>

                <div class="h5 mb-0 font-weight-bold text-gray-800"><small>Por item: </small> {{ datas['priceByItem']|number_format(2, ',', '.')  }} €</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-secondary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                  Precio recomendado por Discogs</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ lote.priceByLoteSuggest }} €</div>

                {% set beneficio = lote.priceByLoteSuggest -  lote.price %}
                <div class="h5 mb-0 font-weight-bold text-gray-800"><small>Por item: </small> {{ lote.priceByItemSuggest }} €</div>
                <div class="p mb-0 font-normal-bold text-{{  beneficio > 0 ? 'success' : 'danger'}}"><small>Beneficio: </small> <b>{{ lote.profitPerCent }} % => {{ beneficio|number_format(2, ',', '.')  }} €</b></div>
                <div class="p mb-0 font-normal-bold text-gray-600"><small>Restada la comisión DiscoGs  {{ comision_discogs }} % =>   {{ lote.profitMoneyAppliedComision|number_format(2, ',', '.')  }} € </small></div>
                <div class="p mb-0 font-normal-bold text-gray-600"><small>Competencia {{ lote.competency }} u.</small>
                      {{ include('lote/_competencia.html.twig') }}
                  </div>
                </div>
            <div class="col-auto">
              {% set nTriumf = 0 %}
              {% for itemLot in  lote.getItems %}
                {% if itemLot.peopleWantIt == 1 %}
                  {% set nTriumf = nTriumf + 1 %}
                  {% endif %}
              {% endfor %}
              {% if nTriumf > 0 %}
              <span class="text-warning">{{ nTriumf }}</span><i class="fas fa-trophy fa-2x text-warning"></i>
              {% else %}
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              {% endif %}

            </div>
        </div>
      </div>
    </div>
  </div>
</div>


        {{ include('lote/_show_lote_options.html.twig') }}



{{ include('lote/_form_add_item.html.twig') }}

  {% if lote.getItems()|length > 0 %}
    {{ include('lote/_table_items.html.twig') }}

  {% else %}
    <div class="row " >
      <div class="col-12 ml-3 mt-1">
        <p class="text-danger">Aún no has introducido ningún item para este Lote.</p>
      </div>
    </div>
 {% endif %}






{% endblock %}
