.logo-control-discos {
  width: 70px;
}

.text-ROLE_USER {
  color: gray;
}

.text-ROLE_ADMIN {
  color: #14A809;
}

.text-ROLE_SUPER_ADMIN {
  color: #A80909;
}

.btn-sm {
  font-size: .680rem !important;
}

.btn-icon-split.btn-sm .text {
  padding: .2rem !important;
}

.viewAddItemBox {
  cursor: pointer;
}

.bg-yellow {
  background-color: #F6FBDE !important;
}


.boxPrice, .closePrice {
  cursor: pointer;
}

.arrow {
  cursor: pointer !important;
}
