<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex" />
        <meta name="googlebot" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Gestión de discos. Cálculo de rentabilida de lotes">
        <meta name="author" content="Control Discos - by Eduard Pinuaga Linares">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        <link href="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet" type="text/css">

        <link href="{{ asset('assets/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                    rel="stylesheet">

        <link href="{{ asset('assets/css/sb-admin-2.min.css')}}" rel="stylesheet">
        <link href="{{ asset('assets/css/datepicker/bootstrap-datepicker.min.css')}}" rel="stylesheet">
        <link href="{{ asset('assets/css/control-discos.css')}}" rel="stylesheet">

        {% endblock %}
    </head>
    <body  id="page-top">
          <div id="wrapper">
            {% block sidebar %}{% include './_parts/sidebar.html.twig' %}{% endblock %}
            <div id="content-wrapper">
              <div id="content">
              {% block topnav %}{% include './_parts/top-nav.html.twig' %}{% endblock %}
              <div class="container-fluid">
                {% block body %}{% endblock %}
                </div>
            </div>
        {% block footer %}{% include './_parts/footer.html.twig' %}{% endblock %}
      </div>
        {% block javascripts %}


        <script src="{{ asset('assets/vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ asset('assets/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
        <script src="{{ asset('assets/js/sb-admin-2.min.js')}}"></script>
        <script src="{{ asset('assets/vendor/chart.js/Chart.min.js')}}"></script>
        <script src="{{ asset('assets/js/datepicker/bootstrap-datepicker.min.js')}}" charset="UTF-8"></script>
        <script src="{{ asset('assets/locales/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>

        <!-- <script src="{ { asset('assets/vendor/datatables/dataTables.bootstrap4.js')}}"></script> -->
        <script src="{{ asset('assets/vendor/datatables/jquery.dataTables.js')}}"></script>
        <script src="{{ asset('assets/js/admin.js') }}" type="text/javascript"></script>
         <script src="{{ asset('assets/vendor/chart.js/Chart.min.js') }}"></script>

        <script>

        $('.js-datepicker').datepicker({
                    format: 'dd-mm-yyyy',
                    showOn: 'button',
                    buttonImageOnly: true,
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-0:+1",
                    language: 'es',
                    autoclose: true,
                });
        </script>
      {% endblock %}
      </div>
    </body>
</html>
