<form method="post" action="{{ path('user_delete', {'id': user.id}) }}"
    class="float-left mr-5"
    onsubmit="return confirm('Estas seguro de querer eliminarlo?');">

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">

    <button class="btn btn-danger btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-trash"></i>
      </span>  <span class="text">Eliminar</span></button>
</form>
