{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}
    <h1>Editar Usuario</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
<div class="mb-3">
    <a href="{{ path('user_index') }}"
        class="btn btn-secondary btn-icon-split ">
          <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="text">Ir al listado</a>

    {{ include('user/_delete_form.html.twig') }}
  </div>
{% endblock %}
