{% extends 'base.html.twig' %}

{% block title %}Listado Usuarios{% endblock %}

{% block body %}
    <h1>Listado Usuarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Surnames</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surnames }}</td>
                <td>
                  <span class="text-{{ user.roles[0] }}">  <i class="fas fa-user  pt-2 pr-2"></i>{{ user.roles[0] }}</span>
                </td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"
                            class="btn btn-primary btn-icon-split">
                                  <span class="icon text-white-50">
                                    <i class="far fa-eye"></i>
                                  </span>
                                  <span class="text">Ver</span></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"
                            class="btn btn-success btn-icon-split">
                                  <span class="icon text-white-50">
                                    <i class="fas fa-pencil-alt"></i>
                                  </span>
                                  <span class="text">Editar</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-3">
      <a href="{{ path('user_new') }}"
      class="btn btn-info btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                      </span>
                      <span class="text">Añadir Usuario</span></a>
    </div>
{% endblock %}
