{% extends 'base.html.twig' %}

{% block title %}Crear nuevo Usuario{% endblock %}

{% block body %}
    <h1>Crear nuevo Usuario</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="btn btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Ir al listado</span></a>
{% endblock %}
