{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Surnames</th>
                <td>{{ user.surnames }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td><span class="text-{{ user.roles[0] }}">  <i class="fas fa-user  pt-2 pr-2"></i>{{ user.roles[0] }}</span></td>
            </tr>
            <tr>
                <th>Password</th>
                <td>*****</td>
            </tr>
        </tbody>
    </table>
    <div class="mb-3">
        <a href="{{ path('user_index') }}"
          class="btn btn-secondary btn-icon-split">
          <span class="icon text-white-50">
          <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Ir al listado</span></a>

        <a href="{{ path('user_edit', {'id': user.id}) }}"
                class="btn btn-success btn-icon-split mr-3 float-right">  <span class="icon text-white-50">
                        <i class="fas fa-pencil-alt"></i>
                      </span>
                      <span class="text">Editar Usuario</span></a>

    {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
